<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="sf">
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibdemo</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<mapping resource="com/dto/Crickter.hbm.xml" />
		<mapping resource="com/dto/Actor.hbm.xml" />
		<mapping resource="com/dto/Singer.hbm.xml"/>
		<mapping resource="com/dto/Cars.hbm.xml"/>
		<mapping resource="com/dto/Student.hbm.xml"/>
		<mapping resource="com/dto/Address.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
